 *{
    margin:0;
    padding:0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
 } 
 html{
    scroll-behavior: smooth;
 }
 .sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
    /* margin-top: 20px;*/
    margin-bottom: 20px; 
}
 .name_title{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
    /* margin-top: 50px; */
 }
 .name_title span{
    color: #1877c5;
 }
 body{
    background-color:rgb(20, 13, 0);
    color: #fff;
    /* background-image: url(images-1/Black-Background-Images.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
 }
 #header{
    width:100%;
    height:100vh;
    background-image: url(images-1/backgroung_img.png); 
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
 }
.container{
    padding:10px 10%;
}
nav{
    float: right;
    align-items: center;
    justify-content: space-between;
    background-color:#d9e2e9;
    position: sticky;
    top: 0;
    padding-left: auto;
    border-radius: 8px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px; 
}
nav ul li a{
    text-decoration: none;
    color: #501111;
    font-size: 25px;
    font-weight: 700;
    position: relative;
}
nav ul li a::after{
    transition: 0.5s; 
    content: '';
    background: #ff0000;
    width: 0%;
    height: 3px;
    position: absolute;
    left:0;
    bottom: -6px;
    
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top: 200px;
    font-size: 30px;
    color: #dbdbdb;
}
.header-text h1{
    margin-top: 2%;
    font-size: 60px;

}
.header-text h1 span{
    color:#000000
}
/* ---------------------about-------------------- */
#about{
    padding: 50px 0 150px 0px;
    color:rgb(255, 255, 255)
}
.about_para{
    font-size: 18px;
    margin: 20px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-bottom: 70px; */
}
.about-col-1{
    flex-basis: 30%;
}
.about-col-1 img{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 200px;
}
.about-col-2{
    flex-basis: 60%;
}
.tab-titles{
    display: flex;
    margin: 20px 20px 20px 0px;
}
.tab-links{
    margin: 0px 40px 0px 0px;
    font-weight: 600;
    font-size: 20px;
    cursor:pointer;
    position: relative;
}
.tab-links::after{ 
    content: '';
    background: #ff004f;
    position: absolute;
    width: 0%;
    height: 3px;
    left:0;
    bottom: -6px; 
    transition: 0.5s; 
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    margin: 20px 0 0 15px;
}
.tab-contents ul li span{
    color: rgb(226, 238, 54);
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display:block;
}
.icons{
    height: 20px;
    width:20px;
}
.tab-contents ul li img{
    width: 30px;
    height: 30px;
    margin-bottom: -7px;
}
/* ---------------------Skills--------------- */
 /* #my-work{
    padding: 30px 0;
}
.work_list{
    display: flex;
    grid-gap: 40px;
    margin-top: 50px;
}
.work_list div{
    background: #6a7781;
    padding: 40px;
    border-radius: 30px;
    transition: background 0.5s, transform 0.5s ;
}
.work_list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.work_list div:hover{
    background: #7c5d44;
    transform: translateY(-10px);
}  */
/* ------------------------ Skills ----------------------- */

/* .work1{
    border-radius: 10px;
    position: relative;
    margin-right: 47px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.work_list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}
.my_work_img{
    border-radius: 10px;
    width:160px;
    height: 160px;
}
.layer1{
    font-size: 10px;
    border-radius: 10px;
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 10px;
    overflow: hidden;
    background: linear-gradient(rgb(29, 29, 190),rgb(255, 0, 0));
    transition: 0.5s; 
}
.work1:hover .layer1{
    height: 100%;
} */

/* ------------------------Additional------------- */
.extra{
    margin:0 0 20px 0;
    font-size: 20px;
}
#addition ul{
    margin-top: 20px;
}
/* ----------------------project--------------- */
.work .work_img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    /* z-index: 1; */
    transition: transform 0.5s;
}
.work{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin: 50px 50px;
}
.list_work{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    /* justify-content: space-between; */
}
.layer p{
    margin-top: 10px;
}
.layer{
    width: 100%;
    height: 0;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ffa600);
    position: absolute;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s ,transform 0.5s;
}
.work:hover .work_img {
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.link_img{
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.layer h3{
    margin: 20px 0;
}
.layer p{
    margin: 20px 0;

}
/* ------------------------------contact------------------- */
.row2{
    display: flex;
    grid-gap: 150px;
}
.contact_right form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.contact_left p{
    margin-bottom: 30px;
}
.row2 .btn{
    display: block;
    margin-left: 20px;
    margin-right: 80px;
    margin-top: 30px;
    height: 40px;
    width: 80px;
    color: #fff;
    border-radius: 10px;
    border: none;
    background-color: #ff004f;
    transition: background-color 0.5s;
}
.row2 .btn:hover{
    background-color: #7090aa;
}
.contact_left p i{
    height: 20px;
    width: 20px;
    color: #ff004f;
}
.social_icons i{
    font-size: 30px;
    color: #ff004f;
    margin-right: 15px;
    margin-bottom: 30px;
    transition: color 0.5s ,transform 0.5s;
}
.social_icons i:hover{
    color: #6a7781;
    transform:translateY(-5px)
}
.contact_left .btn2{
    color: white;
    font-size: 5px;
    padding: 20px 40px;
    font-size: 30px;
    background-color: #ff0051;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.5s;
}
.contact_left .btn2:hover{
    background-color:#6d1632;
}
.contact_right form input{
    margin-left: 20px;
    margin-bottom: 10px;
    width:500px;
    height:40px;
    padding-left: 30px;
    border-radius: 10px;
    background-color: #282d30;
    border: none;
    color: #fff;
}
.contact_right form textarea{
    margin-left: 20px;
    padding-left: 30px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: #282d30;
    border: none;
    color: #fff;
}
.copyright{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    padding-top: 7px ;
    background: #262626;
    color:#fff;
    text-align: center;
    font-weight: 300;
}

/* -----------------------------------------mobile view----------------------------------- */
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        /* background-image: none; */
        background-image: url(images-1/backgroung_img_mobile.png);
        /* background-color:rgb(97, 102, 26); */
        background-attachment: none;
    }
    /* nav ul li{
        display: none;
    } */
    .header-text{
        margin-top: 120%;
        font-size:20px;
    }
    .header-text p{
        font-size: 20px;
        /* font-weight: ; */
        color:white;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
        cursor: pointer;
        /* margin-right: 30px; */
        margin-top: 10px;
    }
    nav{
        background: none;
    } 
    nav ul{
        background-color:white;
        position: fixed;
        width: 160px;
        top: 0;
        right: -200px;
        height:100vh;
        padding-top: 50px;
        border-radius: 10px;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    .name_title{
        /* display: none; */
        font-size: 40px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left:25px;
        cursor: pointer;
        margin-top: -10px;
    }
    .sub-title{
        font-size: 40px;
    }
    .about_para{
        font-size: 16px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100% ;
    }
    .about-col-2{
        font-size: 16px;
        width: 50%;
    }
    .tab-links{
        margin-right: 15px;
        font-size: 18px;
    }
    /* ------------ project---------- */
    .list_work .work{
        margin:0 0 20px 0;
    }
    .list_work{
        margin:0 0 0 0;
    }
    /* ------------- Additional------------  */
    .extra{
        font-size:16px
    }
    /* ----------------contact-----------  */
    .copyright{
        font-size: 12px;
    }

}
